<h1>Dashboard</h1>
 <div class="order-summary jumbotron">
    <h4> Product Count: <%= @count %></h4>
    <%= link_to 'Products', :admin_products %>
    <h4> Cateogory Count: <%= @ccount %></h4>
</div>